.SeverityWrapper{
    display: inline-block;
    vertical-align: top;
    width: max-content;
    background-color: #f5f5f5;
    min-width: 200px;
    h3, h5{
        margin-left: 35px;
    }
    ul {
        margin: 38px;
        margin-top: 150px;
        padding: 0px;
        li {
            display: inline-block;
            &:focus{
                border: 1px solid grey;
            }
            img{
                height: 50px !important;
                width: auto;
            }
        }
    }
}
