.HospitalsWrapper{
    display: inline-block;
    vertical-align: top;
    width: max-content;
    background-color: #f5f5f5;
    margin-right: 30px;
    h4{
        margin-left: 35px;
    }
    ul {
        margin: 20px;
        padding: 0;
    }
}
