.HospitalCardWrapper {  
  min-width: 200px;
  margin: 10px 15px;
  padding: 0px 10px;
  list-style-type: none;
  text-align: left;
  background-color: white;
  font: small;
  &:focus{
    background-color: skyblue;
  }
  span{
      &:nth-child(1) {
          font-size: large;
          margin-right: 30px;
        }
        &:not(:first-child) {
          font-size: small;
          margin-right: 5px;
        }
  }
}
