.BookingWrapper{
    text-align: center;
    ul{
        li{
            list-style-type: none;
            display: inline-block;
            input{
                background-color: #f5f5f5;
            }
        }
    }
}