.IllnessCardWrapper{
    min-width: 200px;
    margin: 10px 15px;
    padding: 0px 10px;
    list-style-type: none;
    text-align: left;
    background-color: white;
    font: small;
    &:focus{
        background-color: skyblue;
    }
}